@font-face {
  font-family: 'Number';
  src: url("../assets/fonts/tttgbnumber.ttf") format('truetype');
}

@font-face {
  font-family: 'NZBZ';
  src: url("../assets/fonts/NZBZ.ttf") format('truetype');
}
